.background {
	position: relative;
	background: url("/assets/images/home/security.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.background::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(
		0,
		0,
		0,
		0.7
	); /* Adjust the alpha value (last parameter) to set the transparency */
}
