@font-face {
	font-family: futura;
	src: url(../../public/assets/fonts/FuturaPTBold.otf);
}

@font-face {
	font-family: montserrat;
	src: url(../../public/assets/fonts/Montserrat-VariableFont_wght.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	padding: 0;
	font-family: montserrat, sans-serif;
}

.futura {
	font-family: futura, sans-serif !important;
}

ul {
	list-style-type: disc;
}

.bg-content {
	background-image: url(https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?w=800&dpr=2&q=80);
	
}